<%- include("../partial/layout-start", {title: "Sign up"}) %>

<div class="row">
    <div class="col-sm-6">

        <%- include("loginForm", {isLogin: false}) %>
        
    </div>
</div>

<%- include("../partial/layout-end") %>